.fonts(@size: 12px) {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Tahoma, Verdana, Arial, Sans-Serif;
  font-size: @size;
}

* {
  .fonts();
}

body {
  .fonts();
}

@inputPadding: 3px;
input {
  padding: @inputPadding;
  border: @borderWidth solid;
  border-radius: @borderRadius;
}

input[type="button"], input[type="submit"]:not(.link), .submitButton {
  padding-left: 6px;
  padding-right: 6px;
  font-weight: bold;
}

.container {
  position: relative;
}

div.expandContainer {
  overflow: hidden;
  // It seems to go up to the button text, not until the button border.
  padding-right: (5px + @inputPadding * 2);
}

.expand {
  width: 100%;
}

label {
  font-weight: bold;
}

// Option control
div.optionControl {
  margin: (@inputPadding + @borderWidth);
  display: inline-block; *zoom: 1; *display: inline;
}

span.option, span.selectedOption {
  padding: @inputPadding;
  cursor: pointer;
  border: @borderWidth solid;
  border-radius: @borderRadius;
}

span.selectedOption {
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6,
span.h1, span.h2, span.h3, span.h4, span.h5, span.h6 {
  font-weight: bold;
}

h6, span.h6 {
  font-size: 110%;
}

h5, span.h5 {
  font-size: 125%;
}

h4, span.h4 {
  font-size: 150%;
}

h3, span.h3 {
  font-size: 200%;
}

h2, span.h2 {
  font-size: 250%;
}

h1, span.h1 {
  font-size: 300%;
}

.p {
  margin: 1em 0;
}

.phalf {
  margin: 0.5em 0;
}

.p:first-child, .phalf:first-child {
  margin-top: 0;
}

.p:last-child, .phalf:last-child {
  margin-bottom: 0;
}

.fill {
  width: 100%;
  height: 100%;
}

@borderWidth: 1px;
@borderRadius: 2px;
@pageContentWidth: 700px;
@contentBoxPadding: 10px;
@sidebarWidth: 150px;
// [ subscriptions panel ] [ content panel ]
// [ 10px content 10px ] 10px [ 10px content 10px ]
// + borders
@totalContentWidth: @pageContentWidth
  + @contentBoxPadding * 3 * 2
  + @borderWidth * 3 * 2
  + @sidebarWidth * 2;

#contentContainer {
  width: @totalContentWidth;
  margin: 10px auto;
}

.box {
  padding: @contentBoxPadding;
  border: @borderWidth solid;
  border-radius: @borderRadius;
}

.sidebar {
  float: left;
  width: @sidebarWidth;
}

#centeredContentBox {
  float: left;
  width: (@pageContentWidth - 10px * 2); // subtract padding to align with top bar
  padding: @contentBoxPadding;
  margin: 0 10px;
  border: @borderWidth solid;
  border-radius: @borderRadius;
}

.vspace {
  content: "x";
  visibility: hidden;
  position: relative;
  height: 1em;
}

.tallVspace {
  content: "x";
  visibility: hidden;
  position: relative;
  height: 100px;
}

.formLeftSide {
  text-align: right;
}

.formRightSide {
  text-align: left;
  padding-left: 5px;
  margin-left: 5px;
  clear: both;
}

.halfWidth {
  width: 50%;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.alignLeft {
  text-align: left;
}

.alignRight {
  text-align: right;
}

.alignCenter {
  text-align: center;
}

.underline {
  text-decoration: underline;
}

.smallMargin {
  margin: 5px;
}

div.inlineBlock {
  // The * stuff is an IE7 hack.
  display: inline-block; *zoom: 1; *display: inline;
}

input.link::-moz-focus-inner {
  border: none;
  padding: 0;
}

a, a:hover, a:active,
.link, .link:hover, .link:active {
  font-weight: bold;
  border: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  // color is in themebase.less
}

// -----

@topBarHeight: 36px;
@topBarContentHeight: 20px;
@topBarTextSizeMultiplier: 125%;
#topBar {
  position: fixed;
  width: 100%;
  height: @topBarHeight;
}

#topBarContent {
  height: @topBarContentHeight;
  width: @pageContentWidth;
  font-size: @topBarTextSizeMultiplier;
  margin: ((@topBarHeight - @topBarContentHeight) / 2) auto 0;
}

#topBarFixedPlaceholder {
  height: @topBarHeight;
}

#topBarContent > a,
#topBarContent > a:active,
#topBarRightPanel > a,
#topBarRightPanel > a:active {
  text-decoration: none;
  font-weight: normal;
}

#topBarRightPanel {
  float: right;
  text-align: right;
}

#topbardropdowntoggle {
  padding: 0;
  padding-left: @inputPadding;
  margin-left: @inputPadding;
  border-left-width: @borderWidth;
  border-left-style: solid;
  cursor: pointer;
}

.dropdown {
  position: relative;
  top: 3px;
  display: none;
  text-align: left;
  border: @borderWidth solid;
  padding: @inputPadding;
  border-radius: @borderRadius;
  z-index: 1;
}

.dropdown > ul > li {
  margin: 5px;
}

.dropdown input.link {
  font-size: 100%;
  cursor: pointer;
}

// -----

#loginContainer {
  position: relative;
  margin: 0 auto;
  width: 300px;
  text-align: center;
}

.loginFixedSizeInput {
  width: 150px;
  margin-left: 10px;
}

.loginPanel {
  min-height: 85px;
}
