.fonts(@size: 12px) {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Tahoma, Verdana, Arial, Sans-Serif;
  font-size: @size;
}

* {
  .fonts();
  box-sizing: border-box;
}

body {
  .fonts();
  overflow-x: hidden;
}

@inputPadding: 3px;
@bigInputPaddingX: 20px;
@bigInputPaddingY: 10px;
input, button {
  padding: @inputPadding;
  border: @borderWidth solid;
  border-radius: @borderRadius;
  outline: none;
}

input.big, button.big {
  font-size: 20px;
}

// stupid css precedence rules
input.bg,
button.bg,
input[type="text"].bg,
input[type="password"].bg,
input[type="email"].bg {
  border-radius: (2 * @borderRadius);
  border-width: 1px;
  border-style: solid;
  padding: @bigInputPaddingY @bigInputPaddingX;
}

input.bg, #dummy {
  border: 1px solid black;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
}

input::-moz-focus-inner, button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button,
input[type="button"],
input[type="submit"]:not(.link),
.submitButton {
  padding-left: (@inputPadding * 2);
  padding-right: (@inputPadding * 2);
  cursor: pointer;
}

.rightCorner {
  position: absolute;
  right: 0px;
  top: 0px;
}

.rightCornerAdjusted {
  position: absolute;
  right: 0px;
  top: -3px;
}

.container {
  position: relative;
}

div.expandContainer {
  overflow: hidden;
  padding-right: 5px;
}

.expand {
  width: 100%;
}

label, .label {
  font-weight: bold;
}

// Option control
div.optionControl {
  margin: (@inputPadding + @borderWidth);
  display: inline-block; *zoom: 1; *display: inline;
}

span.option, span.selectedOption {
  padding: @inputPadding;
  cursor: pointer;
  border: @borderWidth solid;
  border-radius: @borderRadius;
}

p, .para {
  line-height: 135%;
}

ul.bulletList {
  list-style-type: disc;
  margin-left: 20px;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
.h1:hover, .h2:hover, .h3:hover, .h4:hover, .h5:hover, .h6:hover,
.h1:active, .h2:active, .h3:active, .h4:active, .h5:active, .h6:active {
  font-weight: normal;
}

h6, .h6 {
  font-size: 110%;
}

h5, .h5 {
  font-size: 125%;
}

h4, .h4 {
  font-size: 150%;
}

h3, .h3 {
  font-size: 200%;
}

h2, .h2 {
  font-size: 250%;
}

h1, .h1 {
  font-size: 300%;
}

.p {
  margin: 1em 0;
}

.phalf {
  margin: 0.5em 0;
}

.p:first-child, .phalf:first-child {
  margin-top: 0;
}

.p:last-child, .phalf:last-child {
  margin-bottom: 0;
}

.fill {
  width: 100%;
  height: 100%;
}

div.hline {
  height: .5em;
  border-bottom: 1px solid;
  margin-bottom: .5em;
}

.titleBgText {
  font-size: 44px;
}

@borderWidth: 1px;
@borderRadius: 3px;
@pageContentWidth: 700px;
@contentBoxPadding: 10px;
@sidebarWidth: 300px;
// [ subscriptions panel ] [ content panel ]
// [ 10px content 10px ] 10px [ 10px content 10px ]
// + borders
@totalContentWidth: @pageContentWidth
  + @contentBoxPadding * 3 * 2
  + @borderWidth * 3 * 2
  + @sidebarWidth * 2;

#contentContainer {
  position: relative;
  width: 100%;
}

.box {
  padding: @contentBoxPadding;
  border: @borderWidth solid;
  border-radius: @borderRadius;
}

.themeBox {
  font-weight: bold;
}

.notifyBox {
  position: absolute;
  display: inline-block;
  left: 15px;
  bottom: 15px;
  width: 200px;
  z-index: 100;
}

#sidebar {
  position: fixed;
  padding-top: (@topBarHeight + 10px);
  width: 0;
  height: 100%;
  overflow-x: hidden;
  
  -webkit-transition: width .2s;
  -moz-transition: width .2s;
  -ms-transition: width .2s;
  transition: width .2s;
}

#sidebar.out {
  width: @sidebarWidth;
  padding-left: (@topBarPadding * 2);
  padding-right: @topBarPadding;
}

#main {
  -webkit-transition: -webkit-transform .2s;
  -moz-transition: -moz-transform .2s;
  -ms-transition: -ms-transform .2s;
  transition: transform .2s;
}

#main.out {
  -webkit-transform: translateX(@sidebarWidth);
  -moz-transform: translateX(@sidebarWidth);
  -ms-transform: translateX(@sidebarWidth);
  transform: translateX(@sidebarWidth);
}

#page {
  width: 100%;
  display: inline-block;
  padding: 54px 0 10px 0;
}

#pageFooter {
  margin-top: 0.5em;
  font-size: 75%;
}

#pageFooter a {
  text-decoration: none;
}

#pageFooter a:hover, #pageFooter a:active {
  text-decoration: underline;
  color: inherit;
}

#centeredContentBox {
  position: relative;
  width: (@pageContentWidth - 10px * 2); // subtract padding to align with top bar
  padding: @contentBoxPadding;
  margin: 0 auto;
}

#page.bg::before {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  content: ' ';
  z-index: -1;
}

.vspace {
  content: "x";
  visibility: hidden;
  position: relative;
  height: 1em;
}

.tallVspace {
  content: "x";
  visibility: hidden;
  position: relative;
  height: 100px;
}

.xtallVspace {
  content: "x";
  visibility: hidden;
  position: relative;
  height: 15em;
}

.formLeftSide {
  text-align: right;
}

.formRightSide {
  text-align: left;
  padding-left: 5px;
  margin-left: 5px;
  clear: both;
}

.halfWidth {
  width: 50%;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.alignLeft {
  text-align: left;
}

.alignRight {
  text-align: right;
}

.alignCenter {
  text-align: center;
}

.underline {
  text-decoration: underline;
}

.smallMargin {
  margin: 5px;
}

div.inlineBlock {
  // The * stuff is an IE7 hack.
  display: inline-block; *zoom: 1; *display: inline;
}

input.link::-moz-focus-inner {
  border: none;
  padding: 0;
}

a, a:hover, a:active,
.link, .link:hover, .link:active {
  font-weight: bold;
  border: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
  // color is in themebase.less
}

// Embed Etherpad:
div.fullPageContentContainer {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: @topBarHeight;
  z-index: -1;
  overflow: hidden;
}

iframe.fullPageContent {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

// -----

@topBarHeight: 48px;
@topBarContentHeight: 20px;
@topBarTextSize: 20px;
@topBarPadding: (@topBarHeight / 2 - @topBarTextSize / 2);
@topBarTextSizeBig: 32px;
@topBarPaddingBig: (@topBarHeight / 2 - @topBarTextSizeBig / 2);
#topBar {
  position: fixed;
  width: 100%;
  z-index: 2;
  overflow: hidden;
  border-bottom: 1px solid;
  height: @topBarHeight;
}

#topBar::before {
  content: ' ';
  position: absolute;
  display: block;
  z-index: -1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: .5;
  overflow: hidden;
}

#topBarContent {
  position: relative;
  height: @topBarHeight;
  width: @pageContentWidth;
  font-size: @topBarTextSize;
  margin: 0 auto;
}

#topBarContent.unrestrictedWidth {
  width: auto;
  padding: 0 5px;
}

#topBarContent a, #topBarContent span,
#topBarLeftPanel a {
  position: relative;
  display: inline-block;
  font-weight: normal;
  text-decoration: none;
  display: inline-block;
  height: 100%;
}

#topBarContent a, #topBarContent span {
  padding-top: @topBarPadding;
}

#topBarLeftPanel a {
  padding-top: @topBarPaddingBig;
}

#topBarRightPanel {
  float: right;
  text-align: right;
  height: 100%;
}

#topBarLeftPanel {
  float: left;
  text-align: left;
  height: @topBarHeight;
  font-size: @topBarTextSizeBig;
  padding-left: @topBarPadding;
}

#topBarLeftPanel a {
  padding-left: @topBarPadding;
  padding-right: @topBarPadding;
}

#titleBar {
  position: absolute;
  top: 0;
  left: 50%;
  width: @pageContentWidth;
  text-align: center;
  margin-top: ((@topBarHeight - @topBarContentHeight) / 2 - @inputPadding);
  margin-left: (-@pageContentWidth / 2);
  font-size: 125%;
  font-weight: bold;
}

// -----

#loginContainer {
  position: relative;
  margin: 0 auto;
  width: 350px;
  text-align: center;
}

.loginFixedSizeInput {
  width: 150px;
  margin-left: 10px;
}

.loginPanel {
  min-height: 85px;
}

.settingsFormRow {
  margin-bottom: 10px;
}

.settingsFormRight {
  margin-left: 200px;
}

.settingsFormLabel {
  padding: 5px 0;
}
