{{>header}}
<h1 class="alignCenter">About</h1>
<div class="vspace"></div>
<p>Imagine sitting in class, watching a document get updated in real time as the lecturer speaks. "Is this point true?" someone chats to the class. Another classmate checks Wikipedia and reports back that in fact it was incorrect and corrects it. Everyone is on the same page.</p>
<div class="vspace"></div>
<p>Three weeks later, on the night before the exam, you open your notes to study. But now your notes are online. All your classmates are there too, to help each other review and prepare for the test. Grades have never been higher.</p>
<div class="vspace"></div>
<p>These scenarios are what this website is about. The classroom represents a time when we couldn't be as connected as we can now. Notes is a classroom redesigned for now, where everyone works together. If you see an opportunity for improvement, or just something you like, please <a href="/feedback">send us feedback</a>. If you want to get involved, look at our <a href="/contribute">contributors page</a>. Thanks for your interest.</p>
{{>footer}}
