{{>header}}
<div class="alignCenter container">
  {{#if user}}
    {{#if joined}}
      <form method="post" action="/c/{{id}}/unsub" class="rightCorner">
        <button type="submit" class="link lightText">Leave class</button>
      </form>
    {{else}}
      <form method="post" action="/c/{{id}}/sub" class="rightCornerAdjusted">
        <button type="submit">Join class</button>
      </form>
    {{/if}}
  {{else}}
    <a href="/login?r=%2Fc%2F{{id}}" class="rightCorner">Log in to join</a>
  {{/if}}
  <h3>{{title}}</h3>
</div>
<div class="vspace"></div>
<p>
{{#if description}}
  {{description}}
{{else}}
  This class has no description.
{{/if}}
{{#if user}}
  <span class="lightText">(<a class="lightText" href="/c/{{id}}/editdesc">edit</a>)</span>
{{/if}}
</p>
<div class="hline"></div>
<form method="post" action="/c/{{id}}/newpage">
  <span class="h5">Notes</span>
  <button type="submit" class="link lightText">create</button>
</form>
<div class="vspace"></div>
<ul class="para">
  {{#each pages}}
  <li>
    {{#if this.name}}
      <a href="/edit/{{this.id}}">{{this.name}}</a>
      <span class="lightText">{{this.createddate}}</span>
    {{else}}
      <a href="/edit/{{this.id}}">{{this.createddate}}</a>
    {{/if}}
  </li>
  {{/each}}
</ul>
{{>footer}}
