{{>header}}
<h1 class="alignCenter">Contribute</h1>
<div class="vspace"></div>
<p>Hi. I'm Parker. I'm creating this site as a way to hopefully improve the classroom learning process, and eventually education in general.</p>
<div class="vspace"></div>
<p>This site doesn't make money, although it might some day. If you want to contribute, for now, it will just be because you think education can be better, and want to actively participate in making it better.</p>
<div class="vspace"></div>
<p>The following roles would be greatly appreciated:</p>
<div class="vspace"></div>
<ul class="para bulletList">
  <li>Graphic designer</li>
  <li>Web designer (HTML/CSS)</li>
  <li>Web programmer (client side JavaScript)</li>
  <li>Backend programmer (Node.js)</li>
  <li>Database programmer (MySQL)</li>
  <li>Etherpad programmer (Node.js) - see <a href="http://etherpad.org/">Etherpad's home page</a>.</li>
</ul>
<div class="vspace"></div>
<p>If you are interested in one or more of these roles, I would be happy to hear from you. In the future, there should be a contact form on this page. For now though, you can <a href="mailto:parkersnell@outlook.com">email me</a> or check out the project on <a href="http://github.com/parkovski/notes">GitHub</a>.</p>
{{>footer}}
