<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/style/reset.css" />
    <link rel="stylesheet" href="/style/basic.css" />
  </head>
  <body>
    {{>topbar}}
    <div id="centeredContentBox">
      Todo: If you are logged in, you will see a list of topics you are subscribed to,
      and some type of news feed for what's going on in those topics.<br /><br />
      If you are not logged in, you will see some reminder to register,
      as well as the news feed thing for trending topics.<br /><br />
      You are: {{user}}.
    </div>
  </body>
</html>
