{% extends 'partials/layout.html' %}
{% block content %}
<div class="jumbotron">
  <h1>Notes</h1>
  <p>This is where I tell you what this site is for</p>
  <form method="get" action="/search">
    <div class="input-group">
      <input type="text" class="form-control" name="q" placeholder="Search for a school or class">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary">
          <span class="glyphicon glyphicon-search"></span>
          Search
        </button>
      </span>
    </div>
  </form>
</div>
{% endblock %}
