{{>header}}
<div class="alignCenter container">
  {{#if user}}
    {{#if joined}}
      <form method="post" action="/org/{{id}}/leave" class="rightCorner">
        <button type="submit" class="link lightText">Leave school</button>
      </form>
    {{else}}
      <form method="post" action="/org/{{id}}/join" class="rightCornerAdjusted">
        <button type="submit">Join school</button>
      </form>
    {{/if}}
  {{else}}
    <a href="/login?r=%2Forg%2F{{id}}" class="rightCorner">Log in to join</a>
  {{/if}}
  <h3>{{title}}</h3>
</div>
<div class="vspace"></div>
<p id="description">
  <span id="descSpan">
    {{#if description}}
      {{description}}
    {{else}}
      This school has no description.
    {{/if}}
  </span>
  <span class="lightText">
    {{#if user}}(<a id="editDesc" class="lightText" href="#">edit</a>){{/if}}
  </span>
</p>
{{#if user}}
<div id="descriptionEditor" style="display: none;">
  <textarea id="descTA">{{description}}</textarea>
  <button id="saveDescription" class="submitButton">Save</button>
  <button id="cancelDescription">Cancel</button>
</div>
{{/if}}
<div class="hline"></div>
<h5>Classes</h5>
<div class="vspace"></div>
<ul class="para">
{{#each classes}}
  <li><a href="/c/{{this.id}}">{{this.name}}</a></li>
{{/each}}
  <li><a href="/classes/new" class="lightText">Create new class</a></li>
</ul>
<script src="/clientjs/classdescription.js"></script>
<script>
  var global_orgId = {{id}};
</script>
{{>footer}}
