{% extends 'partials/layout.html' %}
{% block content %}
<h1 class="alignCenter">Search.</h1>
<div class="vspace"></div>
<div>
  <form method="get" action="/search">
    <div class="floatRight">
      <button type="submit">Search</button>
    </div>
    <div class="expandContainer">
      <input type="text" class="expand" name="q" placeholder="Search for school or class"></input>
    </div>
  </form>
</div>
{% if query %}
  <div class="vspace"></div>
  <div>
    <span class="h3">Results for &quot;</span><span class="h4">{{ query }}</span><span class="h3">&quot;</span>
  </div>
  <div class="vspace"></div>
  {% if orgResults.length %}
  <div>
    <h5>Matching schools</h5>
    <div class="vspace"></div>
    <ul class="para">
    {% for org in orgResults %}
      <li><a href="/org/{{ org.id }}">{{ org.name }}</a></li>
    {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% if classResults.length %}
  <div>
    <h5>Matching classes</h5>
    <div class="vspace"></div>
    <ul class="para">
    {% for cr in classResults %}
      <li><a href="/c/{{ cr.id }}">{{ cr.name }}</a></li>
    {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% if nothingFound %}
    Oh no! No results were found :(.
  {% endif %}
{% endif %}
{% endblock %}