{% extends 'partials/layout.html' %}
{% block content %}
<style>
  div.optionControl {
    margin: 20px 0;
  }

  div.optionControl > span {
    padding: 10px;
    font-size: 150%;
    margin: 0 5px;
    font-weight: bold;
  }

  div.optionControl > span:last-child {
    margin-right: 0;
  }

  div.optionControl > span:first-child {
    margin-left: 0;
  }
</style>
<div class="tallVspace"></div>
<div><h1 class="alignCenter">Pick a theme.</h1></div>
<div class="vspace"></div>
<div class="alignCenter">Themes are a way to create your own
  personalized site using the color scheme you like best.</div>
<div class="vspace"></div>
<div class="alignCenter">
  <div class="inlineBlock">
    <div class="optionControl">
      {% for theme in themes %}
      <span
        class="option"
        id="picktheme{{ loop.key }}"
        data-themeid="{{ loop.key }}"
        data-textcolor="{{ theme.textcolor }}"
        style="background-color: {{ theme.color }}; color: {{ theme.color }}; border-color: {{ theme.hlcolor }}">&#x2713;</span>
      {% endfor %}
    </div>
    <div class="alignRight">
      <form method="post" action="/settings/theme">
        <input type="hidden" name="themeid" id="themeid" value=""></input>
        <button type="submit">Change theme</button>
      </form>
    </div>
  </div>
</div>
<div class="tallVspace"></div>
{% endblock %}
{% block extrajs %}
<script>
  require(['jquery', 'optioncontrol'], function($, xx) {
    $(function() {
      $('.optionControl').optionControl(function(sel, index) {
        var children = $('span', this);
        $('#themecss').attr('href', '/style/theme' + index + '.css');
        $('#themeid').val(index);
        for (var i = 0; i < children.length; ++i) {
          var child = $(children[i]);
          if (i === index) {
            child.css({color: child.data('textcolor')});
          } else {
            child.css({color: child.css('background-color')});
          }
        }
      });
      $('#picktheme{{ user.theme }}').click();
    });
  });
</script>
{% endblock %}