<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ title }}{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>body { padding-top: 70px; }</style>
    {#
    {% if user %}
      <link rel="stylesheet" href="/style/theme{{user.theme}}.css" id="themecss" />
    {% else %}
      <link rel="stylesheet" href="/style/theme1.css" id="themecss" />
    {% endif %}
    #}
  </head>
  <body>
    {% include './topbar.html' %}
    {#% if user %}
      {% include './navbar.html' %}
    {% endif %#}
    {% if !noContentContainer %}
    <div class="container">
      {% block content %}{% endblock %}
    </div> {# container #}
    <footer class="text-center">
      <a href="/about">about</a> -
      <a href="/feedback">feedback</a> -
      <a href="/contribute">contribute</a> -
      <a href="/org/1">help</a>
    </footer>
    {% else %}
      {% block content %}{% endblock %}
    {% endif %}
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    {% if jsmain %}
      <script src="/clientjs/require.config.js"></script>
      <script data-main="{{ jsmain }}" src="/clientjs/require.js"></script>
    {% endif %}
    {# TODO: get rid of this once we have no more inline js in pages #}
    {% block extrajs %}{% endblock %}
  </body>
</html>
