<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <link rel="stylesheet" href="/style/reset.css" />
    <link rel="stylesheet" href="/style/basic.css" />
    {% if user %}
      <link rel="stylesheet" href="/style/theme{{user.theme}}.css" id="themecss" />
    {% else %}
      <link rel="stylesheet" href="/style/theme0.css" id="themecss" />
    {% endif %}
  </head>
  <body>
    {% include './topbar.html' %}
    {% if !noContentContainer %}
    <div id="contentContainer">
      {% if user %}
        {#% include './navbar.html' %#}
      {% else %}
        <div class="box sidebar" style="visibility: hidden;"></div>
      {% endif %}
      <div id="page"{% if backgroundImage %} class="bg"{% endif %}>
        <div id="centeredContentBox">
          {% block content %}{% endblock %}
        </div>
      </div> {# page #}
    </div> {# centeredContentBox #}
    <footer id="pageFooter" class="alignCenter">
        <a href="/about">about</a> -
        <a href="/feedback">feedback</a> -
        <a href="/contribute">contribute</a> -
        <a href="/org/1">help</a>
      </footer>
    {% else %}
      {% block content %}{% endblock %}
    {% endif %}
    
    {# Every page needs the dropdown menu code, so use that as the main entry point. #}
    <script src="/clientjs/require.config.js"></script>
    <script data-main="dropdownmenu" src="/clientjs/require.js"></script>
    {% if jsmain %}
      <script>
        require(['{{ jsmain }}']);
      </script>
    {% endif %}
    {# TODO: get rid of this once we have no more inline js in pages #}
    {% block extrajs %}{% endblock %}
  </body>
</html>
