<div class="box sidebar">
  <h6 class="phalf">My classes</h6>
  <ul class="smallIndentList">
    {% if classMembership.length %}
      {% for cm in classMembership %}
        <li class="hoverLink"><a href="/c/{{ cm.id }}">{{ cm.name }}</a></li>
      {% endfor %}
    {% else %}
      <li class="hoverLink"><a href="/search">Find a class</a></li>
    {% endif %}
  </ul>
  <h6 class="phalf">My schools</h6>
  <ul class="smallIndentList">
    {% if orgMembership.length %}
      {% for om in orgMembership %}
        <li class="hoverLink"><a href="/org/{{ om.id }}">{{ om.name }}</a></li>
      {% endfor %}
    {% else %}
      <li class="hoverLink"><a href="/search">Find your school</a></li>
    {% endif %}
  </ul>
</div>