<div id="topBar" class="hc">
  {{! If noContentContainer is set, the page width isn't restricted }}
  {{! So we shouldn't restrict the top bar's width either }}
  {{! This is set with a special CSS style }}
  <div id="topBarContent"{{#if noContentContainer}} class="unrestrictedWidth"{{/if}}>
    <div id="topBarRightPanel">
      {{#if user}}
        {{user.name}}
        <span id="topbardropdowntoggle">&nbsp;&#x25BE;</span>
        <div class="dropdown" data-toggle="topbardropdowntoggle">
          <ul>
            <li><a class="link" href="/settings">Settings</a></li>
            <li>
              <form method="post" action="/logout">
                <input type="submit" value="Log out" class="link"></input>
              </form>
            </li>
          </ul>
        </div>
        <script src="/clientjs/dropdownmenu.js"></script>
      {{else}}
        {{#unless suppressLoginHeaderLink}}
          <a href="/register">Register</a>
          <span class="topBarSep">|</span>
          <a href="/login">Log in</a>
        {{/unless}}
      {{/if}}
    </div>
    <a href="/">Notes</a>
    {{#if sections}}
      {{#each sections}}
      <span class="topBarSep">&#x25B8;</span> {{this}}
      {{/each}}
    {{/if}}
    <span class="topBarSep">&#x25B8;</span> {{title}}
  </div>
</div>
<div id="topBarFixedPlaceholder"></div>
