{% extends '../partials/layout.html' %}
{% block content %}
<h1 class="alignCenter">Admin.</h1>
<div class="vspace"></div>
<p>There are {{ numUsers }} users.</p>
<div class="vspace"></div>
<p>
  This server has been running for {{ uptime.days }} days, {{ uptime.hours }} hours, {{ uptime.minutes }} minutes, {{ uptime.seconds }} seconds ({{ uptime.totalSeconds }} seconds total).
</p>
<div class="vspace"></div>
<p>Warning: The crash button will cause the server to stop. It will only restart if it is running under a monitor like forever.</p>
<form method="post" action="/admin/gitpull">
  <button type="submit">GIT PULL</button>
</form>
<form method="post" action="/admin/crash">
  <button type="submit">CRASH</button>
</form>
{% endblock %}