{% extends '../partials/layout.html' %}
{% block content %}
<div>
  <div class="text-center">
    <h1>Hi.</h1>
    {% if errorMessage %}
    <p class="text-danger">{{ errorMessage }}</p>
    {% endif %}
  </div>
  <form method="post" action="/login" class="form-horizontal">
    {% if redirectUrl %}
    <input type="hidden" name="redirectUrl" value="{{redirectUrl}}"></input>
    {% endif %}
    <div class="form-group">
      <label class="control-label col-lg-2 col-lg-offset-3">Log in using:</label>
      <div class="col-lg-3">
        <ul class="nav nav-pills">
          <li class="active"><a href="#">Notes</a></li>
          <li><a href="/connect/facebook">Facebook</a></li>
          <li><a href="/connect/google">Google</a></li>
        </ul>
      </div>
    </div>
    <div class="form-group">
      <label for="username" class="control-label col-lg-2 col-lg-offset-3">Username:</label>
      <div class="col-lg-3">
        <input type="text" id="username" name="username" class="form-control" />
      </div>
    </div>
    <div class="form-group">
      <label for="password" class="control-label col-lg-2 col-lg-offset-3">Password:</label>
      <div class="col-lg-3">
        <input type="password" id="password" name="password" class="form-control" />
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-offset-5 col-lg-3">
        <div class="checkbox">
          <label><input type="checkbox" name="rememberMe" /> Stay signed in</label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-offset-5 col-lg-3">
        <button class="btn btn-primary" type="submit">Log in</button>
        | <a href="/register">Sign up</a>
      </div>
    </div>
  </form>
</div>
{% endblock %}
